gonderilecek_mail_adresleri=duygu.kandemir@kontrolmatik.com
gonderilecek_dosya_isimleri=YNY.xlsm,YNY2.xlsm,YNY3.xlsm
gonderilecek_dosyalarin_dizini=C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\,C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\,C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\
yeni_excel_dosyalarinin_kaydedilecegi_dizin=C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\Excel\,C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\Excel\,C:\Users\DCPIDATA\Desktop\Datalink Reports\Config\Excel\